.logolocker {
    position:relative;
    border:1px solid #AAA;
    /*box-shadow:inset 1px 1px 4px rgba(0,0,0, 0.34);*/
    padding:15px;
    z-index: 9999;
}
.logolocker img {
    max-width:180px;
    max-height:90px;
}
.logolocker a {
    border:1px solid #DADADA;
    display:inline-block;
    padding:8px;
    margin:2px;
}
.logolocker .element>a {
    line-height:92px;
}

.logolocker a:hover{
    cursor:pointer;
}

.logolocker a.active {  
    border: 1px solid rgb(130, 160, 130);
    box-shadow: inset 0px 0px 5px #74E274;
}

.logolocker.active a:not(.active){
    opacity:0.7;
}

.ll_scroll_area {
	overflow-y:scroll;
	max-height:224px;
}

.logolocker {
    margin-top:12px;
}

.logolocker .element {
    display:inline-block;
}

.file_path {
    text-transform:uppercase;
    color:#CCCCCC;
    font-size:9px;
}

.logolocker .filename {
    text-align:center;
}

.logolocker a:hover {
    border: 1px solid rgb(0, 0, 0);
}

.logolocker .ll_dragover {
}

.ll_active {
    border: 1px solid rgb(130, 160, 130);
    box-shadow:inset 1px 1px 4px rgba(130, 160, 130,1.0);
}
.element {
	position:relative;
}
.ll_delete {
	position:absolute;
	top:2px;
	right:4px;
	vertical-align:top;
	color:#CCCCCC;
	font-size:20px;
	line-height:20px;
}
.ll_delete:hover {
	color:#D50000;
	cursor:pointer;
}

.ll_action_wrap {
	margin:0px;
	padding:2px;
	position:absolute;
	top:-2px;
	right:-3px;
	background-color:rgba(255,255,255,0.0);
	/*right:-3px;*/
	/*top:5px;
	right:5px;*/
	width:14px;
	height:14px;
	/*background-color:#404040;*/
}
.ll_actions {
	margin:0px;
	padding:2px;
	position:absolute;
	top:5px;
	right:5px;
	background-color:rgba(255,255,255,0.9);
	border:1px solid #CCCCCC;
	list-style:none;
	display:none;
}
.ll_actions li {
	font-size:10px;
	text-transform:uppercase;
	font-weight:700;
	cursor:pointer;
}

.ll_actions li:hover {
	background-color:#000000;
	color:#FFFFFF;
}
.ll_actions a {
	margin:0px;
	padding:0px;
	color:#000000;
	text-decoration:none;
	border:0;
	width:100%;
}
.ll_actions a:hover {
	margin:0px;
	padding:0px;
	color:#FFFFFF;
	text-decoration:none;
	border:0;
	width:100%;
}
.ll_actions a.active {
	box-shadow:none;
	border:0;
}
.ll_browse_bar_wrap {
    margin-top: 15px;
}
.ll_progress_bar_wrap {
    display: none;
    margin-top: 15px;
}
.ll_progress_bar_wrap * {
    margin-bottom: 0;
}
.ll_progress_bar {
	width:100%;
	height:6px;
	border:1px solid #CCCCCC;
}
.ll_progress_gauge {
	height:6px;
	background:#00FF00;
	width:0%;
	height:6px;
}
.browse_submit, .upload_file {
	display:inline-block;
}

/**
 * Bootstrapped
 */

/* File upload button */
/* http://www.abeautifulsite.net/whipping-file-inputs-into-shape-with-bootstrap-3 */
.btn-file {
    position: relative;
    overflow: hidden;
    line-height: 1.42857143;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

*[data-ll="dragenter"],
*[data-ll="dragover"] {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

*[data-ll="locker-content"] {
    margin-top: -5px;
    margin-bottom: 0;
}

*[data-ll="locker-item"],
*[data-ll="locker-item-add"] {
    margin-top: 5px;
}

.plus-icon-thin:before,
.plus-icon-thin:after {
    content: ' ';
    background: #aaa;
    width: 2em;
    height: .1em;
    position: relative;
    cursor: pointer;
    display: inline-block;
    left: -.5em;
    top: -0.25em;
}

.plus-icon-thin:before {
    transform: rotate(-90deg);
    margin: 0 -.5em;
    left: 1em;
}

.drawer_pull {
    margin-left:12px;
    margin-right:12px;
    height:18px;
    border:1px solid #CCCCCC;
    border-top:none;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    text-align:center;
    font-size:12px;
    line-height: 18px;
    text-transform: uppercase;
    cursor: pointer;
}
.drawer {
	margin-top: 0px;
    margin-left:12px;
    margin-right:12px;
    box-shadow: none;
    border-top:none;
}
.dropdown-toggle {
    line-height: 54px;
    margin-top:2px;
}